<div class="row">
<%= render 'layouts/sidebar', user: current_user%>
      <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <h3 class="card-title">Friends List</h3>  
            </div>
          </div>
          <div class="card-body">
            <ul class="friend-list">
              <% @users.each do |user| %>
                <li class="toggle-window">
                  <%= link_to conversations_path(user_id: user), remote: true, method: :post do %>
                	<div class="clearfix">
                		<img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="rounded-circle">
                		<div class="friend-name">	
                			<strong><%=user.name%></strong>
                		</div>
                	</div>
                  <%end%>
                </li>
              <% end %> 
            </ul>
          </div>
      </div>

      <ul id="conversations-list">
        <% @conversations.each do |conversation| %>
          <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
        <% end %>
      </ul>
</div>