<h1> Welcome <%=@user.name%> </h1>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
<%= link_to 'Your conversations', conversations_path, class: "btn btn-primary" %>
