
<div class="row">
<%= render 'layouts/sidebar', user: current_user%>
      <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-between">

              <h3 class="card-title">Create Message</h3>  
                    
            </div>
          </div>
          <div class="card-body">
            <%=render 'form', email_message: @email_message%>
          </div>
</div>
</div>