<div class="row">
  <div class="col-md-3">
    <%= render 'layouts/sidebar', user: current_user%>
  </div>
  <div class="col-md-9">
    <div class="sidebar-content">
      <h3>Create Message</h3>
      <%=render 'form', email_message: @email_message, conversations: @conversations%>
    </div>
  </div>
</div>