  <div class="row">
      <%= render 'layouts/sidebar', user: current_user%>
    <div class="wrapper">
      <div class="card">
        <%=render 'form', email_message: @email_message%>
      </div><
    </div>
  </div>