/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

ul {
  padding-left: 0px;
  list-style: none;
}
.messages-list {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
body {
	padding: 20px;
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}
.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
$color_1: #212121;
$color_2: #757575;
$color_3: #ffffff;
$color_4: #e0e0e0;
$color_5: #f5f5f5;
$color_6: #bdbdbd;
$color_7: #e91e63;
$color_8: #f06292;
$font_family_1: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
$background_color_1: #f5f5f5;
$background_color_2: #F7F7F7;
$background_color_3: #BFBFBF;
$background_color_4: #ffffff;
$background_color_5: #eceff1;
$background_color_6: transparent;
$background_color_7: rgba(0, 0, 0, 0.1);
$background_color_8: #bdbdbd;
$background_color_9: #e0e0e0;
$background_color_10: #cecece;
$background_color_11: #212121;
$background_color_12: #000000;
$background_color_13: #e91e63;
$background_color_14: #ec407a;
$background_color_15: rgba(0, 0, 0, 0.2);

@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
/* -- import Roboto Font ---------------------------- */
/* -- import Material Icons Font -------------------- */
@font-face {
	font-family: 'Material Design Iconic Font';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.eot?v=1.0');
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.eot?#iefix&v=1.0') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.woff?v=1.0') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.ttf?v=1.0') format('truetype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.svg?v=1.0#Material-Design-Iconic-Font') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* -- You can use this sidebar in Bootstrap (v3) projects. HTML-markup like Navbar bootstrap component will make your work easier. -- */
/* -- Box model ------------------------------- */
/* -- Demo style ------------------------------- */
/* -- Google typography ------------------------------- */
/* -- Bootstrap-like style ------------------------------- */
/* -- Constructor style ------------------------------- */
/* -- Sidebar style ------------------------------- */
[class^="md-"] {
	display: inline-block;
	font: normal normal normal 14px/1 'Material Design Iconic Font';
	font-size: inherit;
	speak: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*=" md-"] {
	display: inline-block;
	font: normal normal normal 14px/1 'Material Design Iconic Font';
	font-size: inherit;
	speak: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.md {
	line-height: inherit;
	vertical-align: bottom;
}
.md-inbox {
	&:before {
		content: "\f10c";
	}
}
.md-star {
	&:before {
		content: "\f2e5";
	}
}
.md-send {
	&:before {
		content: "\f119";
	}
}
.md-list  {
  &:before {
		content: "\e8ef";
	}
}
.md-drafts {
	&:before {
		content: "\f107";
	}
}
.md-arrow-back {
	&:before {
		content: "\f297";
	}
}
.md-arrow-forward {
	&:before {
		content: "\f298";
	}
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html {
	position: relative;
	min-height: 100%;
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	height: 100%;
	font-family: $font_family_1;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.4;
	color: $color_1;
	background-color: $background_color_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
.sidebar-overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background: #000;
	z-index: 1034;
	-webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
.sidebar-overlay.active {
	opacity: 0.5;
	visibility: visible;
	-webkit-transition-delay: 0;
	-moz-transition-delay: 0;
	transition-delay: 0;
}
.top-bar {
	height: 25px;
	background: rgba(0, 0, 0, 0.1);
}
.headline {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.1;
	color: $color_1;
	text-transform: inherit;
	letter-spacing: inherit;
}
.subhead {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.1;
	color: $color_1;
	text-transform: inherit;
	letter-spacing: inherit;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.dropdown-menu {
	display: none;
}
.constructor {
	position: relative;
	margin: 0;
	padding: 0 50px;
	-webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	-o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidebar {
  vertical-align: top;
	position: relative;
	display: block;
	min-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	border: none;
	-webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	-o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	width: 0;
	-webkit-transform: translate3d(-280px, 0, 0);
	transform: translate3d(-280px, 0, 0);
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	&::-webkit-scrollbar-track {
		border-radius: 2px;
	}
	&::-webkit-scrollbar {
		width: 5px;
		background-color: $background_color_2;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: $background_color_3;
	}
	.sidebar-header {
		position: relative;
		height: 157.5px;
		margin-bottom: 8px;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		&:hover {
			.sidebar-toggle {
				opacity: 1;
			}
		}
	}
	.sidebar-header.header-cover {
		background-repeat: no-repeat;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.sidebar-toggle {
		position: relative;
		float: right;
		margin: 16px;
		padding: 0;
		background-image: none;
		border: none;
		height: 40px;
		width: 40px;
		font-size: 20px;
		opacity: 0.7;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		&:before {
			content: " ";
			display: table;
		}
		&:after {
			content: " ";
			display: table;
			clear: both;
		}
	}
	.icon-material-sidebar-arrow {
		&:before {
			content: "\e610";
		}
	}
	.sidebar-image {
		img {
			width: 54px;
			height: 54px;
			margin: 16px;
			border-radius: 50%;
			-webkit-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
		}
	}
	.sidebar-brand {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		height: 48px;
		line-height: 48px;
		padding: 0;
		padding-left: 16px;
		padding-right: 56px;
		text-decoration: none;
		clear: both;
		font-weight: 500;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		white-space: nowrap;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		&:hover {
			-webkit-box-shadow: none;
			box-shadow: none;
			outline: none;
			text-decoration: none;
		}
		&:focus {
			-webkit-box-shadow: none;
			box-shadow: none;
			outline: none;
			text-decoration: none;
		}
		.caret {
			position: absolute;
			right: 24px;
			top: 24px;
		}
		.sidebar-badge {
			position: absolute;
			right: 16px;
			top: 12px;
		}
	}
	.sidebar-badge {
		display: inline-block;
		min-width: 24px;
		height: 24px;
		line-height: 24px;
		padding: 0 3px;
		font-size: 10px;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
	}
	.sidebar-badge.badge-circle {
		border-radius: 50%;
	}
	.sidebar-divider {
		position: relative;
		display: block;
		height: 1px;
		margin: 8px 0;
		padding: 0;
		overflow: hidden;
	}
	.sidebar-nav {
		.divider {
			position: relative;
			display: block;
			height: 1px;
			margin: 8px 0;
			padding: 0;
			overflow: hidden;
		}
		margin: 0;
		padding: 0;
		li {
			position: relative;
			list-style-type: none;
			a {
				position: relative;
				cursor: pointer;
				user-select: none;
				display: block;
				height: 48px;
				line-height: 48px;
				padding: 0;
				padding-left: 16px;
				padding-right: 56px;
				text-decoration: none;
				clear: both;
				font-weight: 500;
				overflow: hidden;
				-o-text-overflow: ellipsis;
				text-overflow: ellipsis;
				white-space: nowrap;
				-webkit-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				&:hover {
					-webkit-box-shadow: none;
					box-shadow: none;
					outline: none;
					background: transparent;
				}
				&:focus {
					-webkit-box-shadow: none;
					box-shadow: none;
					outline: none;
				}
				.caret {
					position: absolute;
					right: 24px;
					top: 24px;
				}
				.sidebar-badge {
					position: absolute;
					right: 16px;
					top: 12px;
				}
			}
		}
		.dropdown-menu {
			position: relative;
			width: 100%;
			margin: 0;
			padding: 0;
			border: none;
			border-radius: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
	.sidebar-text {
		display: block;
		height: 48px;
		line-height: 48px;
		padding: 0;
		padding-left: 16px;
		padding-right: 56px;
		text-decoration: none;
		clear: both;
		font-weight: 500;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		white-space: nowrap;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		&:hover {
			-webkit-box-shadow: none;
			box-shadow: none;
			outline: none;
		}
		&:focus {
			-webkit-box-shadow: none;
			box-shadow: none;
			outline: none;
		}
		.caret {
			position: absolute;
			right: 24px;
			top: 24px;
		}
		.sidebar-badge {
			position: absolute;
			right: 16px;
			top: 12px;
		}
	}
	.sidebar-icon {
		display: inline-block;
		margin-right: 16px;
		min-width: 40px;
		width: 40px;
		text-align: left;
		font-size: 20px;
		&:before {
			vertical-align: middle;
		}
		&:after {
			vertical-align: middle;
		}
	}
}
.wrapper {
  vertical-align: top;
  background: white;
  width: 800px;
}
.sidebar-stacked.open {
	&+.wrapper {
		.constructor {
			margin-left: 280px;
		}
	}
}
.sidebar-default {
	background-color: $background_color_4;
	.sidebar-header {
		background-color: $background_color_5;
	}
	.sidebar-toggle {
		color: $color_1;
		background-color: $background_color_6;
	}
	.sidebar-brand {
		color: $color_2;
		background-color: $background_color_6;
		&:hover {
			color: $color_1;
			background-color: $background_color_7;
		}
		&:focus {
			color: $color_1;
			background-color: $background_color_7;
		}
	}
	.sidebar-badge {
		color: $color_3;
		background-color: $background_color_8;
	}
	.sidebar-divider {
		background-color: $background_color_8;
	}
	.sidebar-nav {
		.divider {
			background-color: $background_color_8;
		}
		li {
			>a {
				color: $color_1;
				background-color: $background_color_6;
				i {
					color: $color_2;
				}
				&:hover {
					color: $color_1;
					background-color: $background_color_9;
					i {
						color: $color_2;
					}
				}
				&:focus {
					color: $color_1;
					background-color: $background_color_6;
					i {
						color: $color_2;
					}
				}
			}
			&:hover {
				>a {
					color: $color_1;
					background-color: $background_color_9;
					i {
						color: $color_2;
					}
				}
			}
			&:focus {
				>a {
					color: $color_1;
					background-color: $background_color_6;
					i {
						color: $color_2;
					}
				}
			}
		}
		>.open {
			>a {
				color: $color_1;
				background-color: $background_color_9;
				&:hover {
					color: $color_1;
					background-color: $background_color_9;
				}
				&:focus {
					color: $color_1;
					background-color: $background_color_9;
				}
			}
		}
		>.active {
			>a {
				color: $color_1;
				background-color: $background_color_9;
				&:hover {
					color: $color_1;
					background-color: $background_color_9;
				}
				&:focus {
					color: $color_1;
					background-color: $background_color_9;
				}
			}
		}
		>.disabled {
			>a {
				color: $color_4;
				background-color: $background_color_6;
				&:hover {
					color: $color_4;
					background-color: $background_color_6;
				}
				&:focus {
					color: $color_4;
					background-color: $background_color_6;
				}
			}
		}
		>.dropdown {
			>.dropdown-menu {
				background-color: $background_color_9;
				>li {
					>a {
						&:focus {
							background-color: $background_color_9;
							color: $color_1;
						}
						&:hover {
							background-color: $background_color_10;
							color: $color_1;
						}
					}
				}
				>.active {
					>a {
						color: $color_1;
						background-color: $background_color_9;
						&:hover {
							color: $color_1;
							background-color: $background_color_9;
						}
						&:focus {
							color: $color_1;
							background-color: $background_color_9;
						}
					}
				}
			}
		}
	}
	.sidebar-text {
		color: $color_1;
	}
}
.sidebar-inverse {
	background-color: $background_color_11;
	.sidebar-header {
		background-color: $background_color_5;
	}
	.sidebar-toggle {
		color: $color_1;
		background-color: $background_color_6;
	}
	.sidebar-brand {
		color: $color_2;
		background-color: $background_color_6;
		&:hover {
			color: $color_1;
			background-color: $background_color_7;
		}
		&:focus {
			color: $color_1;
			background-color: $background_color_7;
		}
	}
	.sidebar-badge {
		color: $color_1;
		background-color: $background_color_9;
	}
	.sidebar-divider {
		background-color: $background_color_8;
	}
	.sidebar-nav {
		.divider {
			background-color: $background_color_8;
		}
		li {
			>a {
				color: $color_5;
				background-color: $background_color_6;
				i {
					color: $color_6;
				}
				&:hover {
					color: $color_6;
					background-color: $background_color_12;
					i {
						color: $color_6;
					}
				}
				&:focus {
					color: $color_5;
					background-color: $background_color_6;
					i {
						color: $color_6;
					}
				}
			}
			&:hover {
				>a {
					color: $color_6;
					background-color: $background_color_12;
					i {
						color: $color_6;
					}
				}
			}
			&:focus {
				>a {
					color: $color_5;
					background-color: $background_color_6;
					i {
						color: $color_6;
					}
				}
			}
		}
		>.open {
			>a {
				color: $color_6;
				background-color: $background_color_12;
				&:hover {
					color: $color_6;
					background-color: $background_color_12;
				}
				&:focus {
					color: $color_6;
					background-color: $background_color_12;
				}
			}
		}
		>.active {
			>a {
				color: $color_5;
				background-color: $background_color_12;
				&:hover {
					color: $color_5;
					background-color: $background_color_12;
				}
				&:focus {
					color: $color_5;
					background-color: $background_color_12;
				}
			}
		}
		>.disabled {
			>a {
				color: $color_2;
				background-color: $background_color_6;
				&:hover {
					color: $color_2;
					background-color: $background_color_6;
				}
				&:focus {
					color: $color_2;
					background-color: $background_color_6;
				}
			}
		}
		>.dropdown {
			>.dropdown-menu {
				background-color: $background_color_12;
				>li {
					>a {
						&:focus {
							background-color: $background_color_12;
							color: $color_6;
						}
						&:hover {
							background-color: $background_color_12;
							color: $color_6;
						}
					}
				}
				>.active {
					>a {
						color: $color_5;
						background-color: $background_color_12;
						&:hover {
							color: $color_5;
							background-color: $background_color_12;
						}
						&:focus {
							color: $color_5;
							background-color: $background_color_12;
						}
					}
				}
			}
		}
	}
	.sidebar-text {
		color: $color_5;
	}
}
.sidebar-colored {
	background-color: $background_color_4;
	.sidebar-header {
		background-color: $background_color_13;
	}
	.sidebar-toggle {
		color: $color_5;
		background-color: $background_color_6;
	}
	.sidebar-brand {
		color: $color_4;
		background-color: $background_color_6;
		&:hover {
			color: $color_5;
			background-color: $background_color_7;
		}
		&:focus {
			color: $color_5;
			background-color: $background_color_7;
		}
	}
	.sidebar-badge {
		color: $color_3;
		background-color: $background_color_14;
	}
	.sidebar-divider {
		background-color: $background_color_8;
	}
	.sidebar-nav {
		.divider {
			background-color: $background_color_8;
		}
		li {
			>a {
				color: $color_1;
				background-color: $background_color_6;
				i {
					color: $color_2;
				}
				&:hover {
					color: $color_7;
					background-color: $background_color_9;
					i {
						color: $color_8;
					}
				}
				&:focus {
					color: $color_1;
					background-color: $background_color_6;
					i {
						color: $color_8;
					}
				}
			}
			&:hover {
				>a {
					color: $color_7;
					background-color: $background_color_9;
					i {
						color: $color_8;
					}
				}
			}
			&:focus {
				>a {
					color: $color_1;
					background-color: $background_color_6;
					i {
						color: $color_8;
					}
				}
			}
		}
		>.open {
			>a {
				color: $color_7;
				background-color: $background_color_9;
				&:hover {
					color: $color_7;
					background-color: $background_color_9;
				}
				&:focus {
					color: $color_7;
					background-color: $background_color_9;
				}
			}
		}
		>.active {
			>a {
				color: $color_1;
				background-color: $background_color_1;
				&:hover {
					color: $color_1;
					background-color: $background_color_1;
				}
				&:focus {
					color: $color_1;
					background-color: $background_color_1;
				}
			}
		}
		>.disabled {
			>a {
				color: $color_4;
				background-color: $background_color_6;
				&:hover {
					color: $color_4;
					background-color: $background_color_6;
				}
				&:focus {
					color: $color_4;
					background-color: $background_color_6;
				}
			}
		}
		>.dropdown {
			>.dropdown-menu {
				background-color: $background_color_9;
				>li {
					>a {
						&:focus {
							background-color: $background_color_9;
							color: $color_7;
						}
						&:hover {
							background-color: $background_color_10;
							color: $color_7;
						}
					}
				}
				>.active {
					>a {
						color: $color_1;
						background-color: $background_color_1;
						&:hover {
							color: $color_1;
							background-color: $background_color_1;
						}
						&:focus {
							color: $color_1;
							background-color: $background_color_1;
						}
					}
				}
			}
		}
	}
	.sidebar-text {
		color: $color_1;
	}
}
.sidebar-colored-inverse {
	background-color: $background_color_13;
	.sidebar-header {
		background-color: $background_color_5;
	}
	.sidebar-toggle {
		color: $color_1;
		background-color: $background_color_6;
	}
	.sidebar-brand {
		color: $color_2;
		background-color: $background_color_6;
		&:hover {
			color: $color_1;
			background-color: $background_color_7;
		}
		&:focus {
			color: $color_1;
			background-color: $background_color_7;
		}
	}
	.sidebar-badge {
		color: $color_1;
		background-color: $background_color_9;
	}
	.sidebar-divider {
		background-color: $background_color_8;
	}
	.sidebar-nav {
		.divider {
			background-color: $background_color_8;
		}
		li {
			>a {
				color: $color_5;
				background-color: $background_color_6;
				i {
					color: $color_4;
				}
				&:hover {
					color: $color_5;
					background-color: $background_color_7;
					i {
						color: $color_5;
					}
				}
				&:focus {
					color: $color_5;
					background-color: $background_color_6;
					i {
						color: $color_5;
					}
				}
			}
			&:hover {
				>a {
					color: $color_5;
					background-color: $background_color_7;
					i {
						color: $color_5;
					}
				}
			}
			&:focus {
				>a {
					color: $color_5;
					background-color: $background_color_6;
					i {
						color: $color_5;
					}
				}
			}
		}
		>.open {
			>a {
				color: $color_5;
				background-color: $background_color_7;
				&:hover {
					color: $color_5;
					background-color: $background_color_7;
				}
				&:focus {
					color: $color_5;
					background-color: $background_color_7;
				}
			}
		}
		>.active {
			>a {
				color: $color_5;
				background-color: $background_color_15;
				&:hover {
					color: $color_5;
					background-color: $background_color_15;
				}
				&:focus {
					color: $color_5;
					background-color: $background_color_15;
				}
			}
		}
		>.disabled {
			>a {
				color: $color_6;
				background-color: $background_color_6;
				&:hover {
					color: $color_6;
					background-color: $background_color_6;
				}
				&:focus {
					color: $color_6;
					background-color: $background_color_6;
				}
			}
		}
		>.dropdown {
			>.dropdown-menu {
				background-color: $background_color_7;
				>li {
					>a {
						&:focus {
							background-color: $background_color_7;
							color: $color_5;
						}
						&:hover {
							background-color: $background_color_7;
							color: $color_5;
						}
					}
				}
				>.active {
					>a {
						color: $color_5;
						background-color: $background_color_15;
						&:hover {
							color: $color_5;
							background-color: $background_color_15;
						}
						&:focus {
							color: $color_5;
							background-color: $background_color_15;
						}
					}
				}
			}
		}
	}
	.sidebar-text {
		color: $color_4;
	}
}
.sidebar.open {
	min-width: 280px;
	width: 280px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.sidebar-fixed-left {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 1035;
	left: 0;
	box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
}
.sidebar-fixed-right {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 1035;
	right: 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
	-webkit-transform: translate3d(280px, 0, 0);
	transform: translate3d(280px, 0, 0);
	.icon-material-sidebar-arrow {
		&:before {
			content: "\e614";
		}
	}
}
.sidebar-stacked {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 1035;
	left: 0;
}
.sidebar-fixed-right.open {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
@media (max-width: 768px) {
	.sidebar-stacked.open {
		&+.wrapper {
			.constructor {
				margin-left: 240px;
			}
		}
	}
	.sidebar.open {
		min-width: 240px;
		width: 240px;
	}
	.sidebar {
		.sidebar-header {
			height: 135px;
		}
		.sidebar-image {
			img {
				width: 44px;
				height: 44px;
			}
		}
	}
}
