@import url('https://fonts.googleapis.com/css?family=Nunito');
$background-color1: #2E2E2E;
$background-color2: #FFF;
$border-color: #E5E5E5;
$primary-color: #2AB1E0;
$primary-hover-color: #63C1E0;
$secondary-color: #2E2E2E;
$secondary-hover-color: #3B3B3B;
$text-color1: #FFF;
$text-color2: #000;
$success-color: #26FF67;
$danger-color: #FF3838;
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    background-color: $background-color1 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.middle-form {
    border-radius: 5px;
    margin: 50px auto;
    background-color: $background-color2;
    min-width: 300px;
    max-width: 380px;
    width: 50%;
    padding: 20px;
    .logo-icon {
        img {
            width: 80px;
            height: 80px;
        }
    }
    .field {
        margin: 10px 0;
        label {
            display: inline-block;
        }
    }
    .rememberme-field {
        font-size: 13px;
    }
    h2 {
        color: $primary-color;
    }
}

form {
    input[type="email"],
    input[type="password"],
    input[type="text"] {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        border: 1px solid $border-color;
        border-radius: 0px;
        font-size: 14px;
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px white inset !important;
            border: 1px solid $border-color !important;
        }
    }
    label {
        opacity: 0.6;
    }
}

.shared-link {
    a {
        text-decoration: none !important;
        font-size: 13px;
        color: $primary-color;
        &:hover {
            color: $primary-hover-color;
        }
    }
}

.primary-button {
    background-color: $primary-color;
    color: $text-color1;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    color: $text-color1;
    &:hover {
        background-color: $primary-hover-color;
    }
}

.secondary-button {
    text-decoration: none !important;
    background-color: $secondary-color;
    color: $text-color1;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    margin: 0;
    &:hover {
        background-color: $secondary-hover-color;
        color: $text-color1;
    }
}

.alert {
    width: 100%;
    margin: 10px 0;
    color: $text-color1 !important;
    font-size: 14px;
    padding: 10px;
    opacity: 0.8;
    border-radius: 5px;
}

.alert-success {
    background-color: $success-color !important;
}

.alert-danger {
    background-color: $danger-color !important;
}

// Place all the styles related to the conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//colors
$color_gallery_approx: #ebeef0;
$black_7_5: rgba(0,
0,
0,
0.075);
$color_sail_approx: #b7dcfe;
$color_calypso_approx: #317787;
$color_salomie_approx: #ffdc91;
$black_10: rgba(0,
0,
0,
0.1);
$color_buttered_rum_approx: #a07617;
$color_havelock_blue_approx: #579ddb;
$color_danube_approx: #5fa2dd;
$white: #fff;
$color_gray_nurse_approx: #e9e9e9;
//@extend-elements
//original selectors
//.btn-primary, .btn-primary:focus, .btn-hover-primary:hover, .btn-hover-primary:active, .btn-hover-primary.active, .btn.btn-active-primary:active, .btn.btn-active-primary.active, .dropdown.open >.btn.btn-active-primary, .btn-group.open .dropdown-toggle.btn.btn-active-primary
%extend_1 {
    background-color: $color_havelock_blue_approx;
    border-color: $color_danube_approx;
    color: $white !important;
}

//colors
$white: #fff;
$color_gallery_approx: #eee;
$color_alice_blue_approx: #f1f5fc;
$color_tapa_approx: #777;
.card {
    height: 100%;
    border: none !important;
    border-radius: 0px !important;
    top:0;
    bottom:0;
    left:0;
    right:0;
    
    .card-header {
        border: none !important;
        border-radius: 0px !important;
        background-color: $primary-color !important;
        .card-title {
            color: $text-color1;
        }
        a {
            color: $text-color1;
            text-decoration: none !important;
        }

    }
    .card-body {
        height: 600px;
        a {
            text-decoration: none !important;
            color: $primary-color;
            &:hover {
                color: $primary-hover-color;
            }
        }
    }
}

.bg-white {
    background-color: $white;
}

.friend-list {
    padding: 10px;
    list-style: none;
    li {
        border-bottom: 1px solid $border-color;
        a {
            position: relative;
            display: block;
            padding: 10px; //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all .2s ease;
            text-decoration: none !important;
            img {
                float: left;
                width: 45px;
                height: 45px;
                margin: 0 5px 0 0;
            }
            .friend-name {
                color: $primary-color;
                &:hover {
                    color: $primary-hover-color;
                }
            }
            .last-message {
                width: 65%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: $text-color2;
                opacity: 0.6;
            }
            .time {
                position: absolute;
                top: 10px;
                right: 8px;
                color: $text-color2;
                opacity: 0.6;
            }
            .chat-alert {
                position: absolute;
                right: 8px;
                top: 27px;
                font-size: 10px;
                padding: 3px 5px;
            }
        }
        &.active a {
            background-color: $color_alice_blue_approx;
        }
    }
}

small {
    font-size: 85%;
}

.small {
    font-size: 85%;
}

.bg-success {
    background-color: #317787;
    .card-header {
        color: $text-color1;
        a {
            color: $text-color1;
        }
    }
}

.panel {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    border-style: solid;
    border-width: 3px;
    border-color: #5fa2dd;
    min-height: 700px;
    margin-bottom: 24px;
    .panel-heading {
        //Instead of the line below you could use @include border-top-left-radius($radius)
        border-top-left-radius: 0; //Instead of the line below you could use @include border-top-right-radius($radius)
        border-top-right-radius: 0;
    }
    > :first-child {
        //Instead of the line below you could use @include border-top-left-radius($radius)
        border-top-left-radius: 0; //Instead of the line below you could use @include border-top-right-radius($radius)
        border-top-right-radius: 0;
    }
}

.panel-heading {
    position: relative;
    height: 50px;
    padding: 0;
    border-bottom: 1px solid $color_gallery_approx;
}

.panel-control {
    height: 100%;
    position: relative;
    float: right;
    padding: 0 15px;
    > {
        .btn:last-child {
            //Instead of the line below you could use @include border-bottom-right-radius($radius)
            border-bottom-right-radius: 0;
        }
        .btn-group:last-child>.btn:first-child {
            //Instead of the line below you could use @include border-bottom-right-radius($radius)
            border-bottom-right-radius: 0;
        }
    }
    .btn {
        border: 0;
    }
    .dropdown-toggle.btn {
        border: 0;
    }
}

.panel-title {
    font-weight: normal;
    padding: 0 20px;
    font-size: 1.416em;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    > {
        .nano-content {
            position: absolute;
            overflow: scroll;
            overflow-x: hidden;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .nano-pane {
            background-color: $black_10;
            position: absolute;
            width: 5px;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0; //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all .7s;
        }
    }
}

.pad-all {
    padding: 15px;
}

.mar-btm {
    margin-bottom: 15px;
}

.media-block {
    .media-left {
        display: block;
        float: left;
    }
    .media-body {
        display: block;
        overflow: hidden;
        width: auto;
    }
    .media-right {
        float: right;
    }
}

.img-sm {
    width: 46px;
    height: 46px;
}

.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}

.speech {
    position: relative;
    background: $color_sail_approx;
    color: $color_calypso_approx;
    display: inline-block; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    padding: 12px 20px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        top: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid $color_sail_approx;
        margin: 15px 0 0 -6px;
    }
    .media-heading {
        font-size: 1.2em;
        color: $color_calypso_approx;
        display: block;
        border-bottom: 1px solid $black_10;
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-weight: 300;
    }
}

.speech-right {
    text-align: right;
    >.speech {
        background: $color_salomie_approx;
        color: $color_buttered_rum_approx;
        text-align: right;
        max-width: 600px;
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break all;
            word-wrap: break-word;
        }
        &:before {
            left: auto;
            right: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid $color_salomie_approx;
            border-right: 0;
            margin: 15px -6px 0 0;
        }
        .media-heading {
            color: $color_buttered_rum_approx;
        }
    }
}

.speech-time {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: .8em;
    font-weight: 300;
}

.btn-primary {
    @extend %extend_1;
    &:focus {
        @extend %extend_1;
    }
}

.btn-hover-primary {
    &:hover {
        @extend %extend_1;
    }
    &:active {
        @extend %extend_1;
    }
    &.active {
        @extend %extend_1;
    }
}

.btn {
    cursor: pointer;
    color: inherit;
    padding: 6px 12px; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    border: 1px solid 0;
    font-size: 11px;
    line-height: 1.42857;
    vertical-align: middle; //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .25s;
    &.btn-active-primary {
        &:active {
            @extend %extend_1;
        }
        &.active {
            @extend %extend_1;
        }
    }
}

.form-control {
    font-size: 11px;
    height: 100%; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0; //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    border: 1px solid $color_gray_nurse_approx; //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
    transition-duration: .5s;
}

.dropdown.open>.btn.btn-active-primary {
    @extend %extend_1;
}

.btn-group.open .dropdown-toggle.btn.btn-active-primary {
    @extend %extend_1;
}

ul {
    padding-left: 0px;
    list-style: none;
}

.messages-list {
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-sent {
    position: relative;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    margin: 5px 20px;
    padding: 10px;
    float: right;
}

.message-received {
    background-color: #F1F0F0;
    border-color: #EEEEEE;
    margin: 5px 20px;
    padding: 10px;
    float: left;
}